In [7]:
print('Hello World') #1

Hello World

In [8]:
print("Mary's cosmetics") #2

Mary's cosmetics

In [9]:
print('신씨가 소리질렀다. "도둑이야"') #3

신씨가 소리질렀다. "도둑이야"

In [10]:
print("C:\Windows") #4

C:\Windows

In [11]:
# \t는 탭, \n은 엔터(줄바꿈)  #5

In [12]:
# 오늘은 일요일 #6

In [14]:
print('naver;kakao;sk;samsung') #7
print("naver","kakao","sk","samsung", sep=";") #7-1

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [15]:
print("naver","kakao","sk","samsung", sep="/") #8

naver/kakao/sk/samsung

In [18]:
print("first", end=" ");print("second") #9

first second

In [19]:
print(5/3) #10

1.6666666666666667

In [20]:
삼성전자 = 50000
총평가금액 = 삼성전자 *10
총평가금액 #11

500000

In [21]:
#12
시가총액=2980000000000
현재가=50000
PER=15.79
type(시가총액), type(현재가), type(PER)

(int, int, float)

In [25]:
#13
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [26]:
#14
print(2+2*3)

8

In [27]:
#15
a = "132"
type(a)

str

In [29]:
#16
num_str="720"
num_int=int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [30]:
#17
num=100
temp = str(num)
print(temp, type(temp))

100 <class 'str'>

In [31]:
#18
a = 15.79
temp = float(a)
print(temp, type(temp))

15.79 <class 'float'>

In [32]:
#19
year="2020"
temp=int(year)
print(temp-1,temp-2,temp-3)

2019 2018 2017

In [33]:
#20
m_ac=48584
m_intr=36
print(m_ac*m_intr)

1749024

In [34]:
#21
letters='python'
print(letters[0],letters[2])

p t

In [41]:
#22
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [43]:
#23
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [44]:
#24
string="PYTHON"
print(string[::-1])

NOHTYP

In [52]:
#25
pn="010-1111-2222"
temp1=pn.replace("-"," ")
print(temp1)


#26
temp2=pn.replace("-","")
print(temp2)

010 1111 2222
01011112222

In [51]:
#27
url = "http://sharebook.kr"
temp=url.split('.')
print(temp[-1]) //맨뒤라

kr

In [54]:
#28
'''
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

'''

## 오류임. 문자열은 이뮤터블

"\n>> lang = 'python'\n>> lang[0] = 'P'\n>> print(lang)\n\n"

In [55]:
#29
string = 'abcdfe2a354a32a'
temp = string.replace('a','A')
print(temp)

Abcdfe2A354A32A

In [ ]:
#30
'''
아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

'''
### abcd

In [ ]:
#31
'''
아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)
'''
### 34

In [56]:
#32
print("HI"*3)
### HIHIHI예상

HIHIHI

In [57]:
#33
print("-"*80)

--------------------------------------------------------------------------------

In [60]:
#34
t1= "python"
t2= "java"
t3= t1+' '+t2+' '
print(t3*3)

python java python java python java

In [65]:
#35
n1="김민수"
n2="이철희"
a1=10
a2=13

print("이름: %s 나이: %d" % (n1, a1))
print("이름: %s 나이: %d" % (n2, a2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [66]:
#36
print("이름: {} 나이: {}".format(n1, a1))
print("이름: {} 나이: {}".format(n2, a2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [67]:
#37
print(f"이름: {n1} 나이: {a1}")
print(f"이름: {n2} 나이: {a2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [68]:
#38
상장주식수 = "5,969,782,550"
temp = 상장주식수.replace(",","")
int_stock=int(temp)
print(int_stock,type(int_stock))

5969782550 <class 'int'>

In [69]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [71]:
#40
data = "   삼성전자    "
temp = data.strip()
print(temp)

삼성전자

In [72]:
#41
ticker = "btc_krw"
temp = ticker.upper()
print(temp)

BTC_KRW

In [73]:
#42
big_temp = temp.lower()
print(big_temp)

btc_krw

In [75]:
#43
x="hello"
big_x=x.capitalize()
print(big_x)

Hello

In [76]:
#44
file_name = "보고서.xlsx"
file_name.endswith("xlsx") ##TF로나옴

True

In [78]:
#45
file_name.endswith(("xlsx", "xls")) ##또는

True

In [79]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [81]:
#47
a = "hello world"
a.split()

['hello', 'world']

In [82]:
#48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [83]:
#49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [84]:
#50
data = "039490     "
data.rstrip()

'039490'

In [ ]:
###     TIL과제 끝