In [1]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
#52
movie_rank.append("배트맨")
#movie_rank
#53
movie_rank.insert(1,"슈퍼맨")
#54
del movie_rank[3]
#55
del movie_rank[2] #스플릿 삭제
del movie_rank[2] #배트맨 삭제
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [2]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
temp = lang1+lang2
temp

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [3]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [4]:
#58
nums = [1,2,3,4,5]
sum(nums)

15

In [5]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [6]:
#60
nums = [1, 2, 3, 4, 5]
avrg=sum(nums)/len(nums)
avrg

3.0

In [7]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [9]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [14]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [15]:
#64
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [16]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
interest[0],interest[2]

('삼성전자', 'Naver')

In [17]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [18]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [19]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [20]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [23]:
#71
my_variable=()
type(my_variable)

tuple

In [27]:
#72
movie_rank=("닥터 스트레인지","스플릿","럭키")
#73
a = (1,)
b=(1)
a, type(a), b, type(b)

((1,), tuple, 1, int)

In [29]:
#74
t=(1,2,3)
##튜플은 원래 안에꺼 못바꿔 바보야

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3654954557.py, line 3)

In [30]:
#75
t=1,2,3,4
type(t)

tuple

In [31]:
#76
t=('a','b','c')
t=('A','b','c')
t

('A', 'b', 'c')

In [32]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
temp = list(interest)
type(temp)

list

In [34]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
temp = tuple(interest)
type(temp)

tuple

In [35]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# 예상 : 애플 바나나 케이크 나온다에 손모가지 건다

apple banana cake

In [37]:
#80
temp=tuple(range(2,100,2))
print(temp)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [38]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b=scores##왼
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [39]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*valid_score,=scores##오
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [42]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,*valid_score,b=scores##중
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [44]:
#84
temp={}
type(temp)

dict

In [50]:
#85
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
#86
ice["죠스바"] = 1200
ice["월드콘"] = 1500
#87
print("메로나 가격 : ",ice["메로나"])
#88
ice["메로나"]=1300
print("메로나 가격 : ",ice["메로나"])
#89
del ice["메로나"]
print(ice)
#90 누가바가 어디있는데 누가바를 넣냐

메로나 가격 :  1000
메로나 가격 :  1300
{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [57]:
#91
inventory = {"메로나": [300, 20],"비비빅": [400, 3], "죠스바": [250, 100]}
#92
print(inventory["메로나"][0],"원")
#93
print(inventory["메로나"][1],"개")
#94
inventory["월드콘"]=[500,7]
inventory

300 원
20 개

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [62]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
temp=list(icecream.keys())
temp
#96
val=list(icecream.values())
val
#97
x=sum(val)
print(x)
#98
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

6700

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [63]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
temp=dict(zip(keys,vals))
temp

{'apple': 300, 'pear': 250, 'peach': 400}

In [64]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}