In [1]:
#101
# boolean / bool 타입

#102
# False

#103
#True

#104
# True

#105
# and는 두 조건 모두 만족해야 True
# 결과는 True

#106
# => 이라는건 없고 >=로 하거나 =<로 해야한다.

#107
# 아무것도 나오지 않는다.

#108
# else에 있는 Hi,there 가 나온다.

#109
#      1 \n 2 \n 4 가 나온다.

#110
# 3 \n 5

In [3]:
#111
a = input(">>")
print(a *2)

>>안녕하세요
안녕하세요안녕하세요

In [4]:
#112
a = input("숫자를 입력하세요: ")
print(int(a)+10)

숫자를 입력하세요: 30
40

In [5]:
#113
a = input(">> ")
if int(a)%2 ==0:
    print("짝수")
else:
    print("홀수")

>> 30
짝수

In [6]:
#114
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값: 240
255

In [7]:
#115
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 15
0

In [8]:
#116
time = input("현재시간:")
if time[-2:] == "00":    #와 이건 생각 못했다 ㄹㅇ
    print("정각 입니다")
else:
    print("정각이 아닙니다")

현재시간: 20:10
정각이 아닙니다.

In [9]:
#117
fruit = ["사과", "포도", "홍시"]
a = input("좋아하는 과일은?")
if a in fruit:
    print("정답입니다")
else:
    print("오답입니다")

좋아하는 과일은?응가
오답입니다

In [12]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input("종목명 : ")
if a in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

종목명 : Google
투자 경고 종목입니다

In [14]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input("제가 좋아하는 계절은 : ")
if a in fruit:
    print("정답입니다")
else:
    print("오답닙니다")

제가 좋아하는 계절은 : 봄
정답입니다

In [15]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input ("좋아하는과일은? ")
if a in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

좋아하는과일은? 토마토
정답입니다

In [18]:
#121
a = input(">>")
if a.islower():
    print(a.upper())
else:
    print(a.lower())

>>A
a

In [21]:
#122
a = input("score : ")
score = int(a)
grade = 'A'
if 81<= score <=100:
    grade = 'A'
elif 61 <= score <= 80:
    grade = 'B'
elif 41 <= score <= 60:
    grade = 'C'
elif 21 <= score <= 40:
    grade = 'D'
else:
    grade = 'C'
    
print(f"grade is {grade}")

score : 99
grade is A

In [24]:
#123
hw = {"달러": 1167, "엔": 1.096,"유로": 1268,"위안": 171}
a = input("입력: ")
x, y = a.split()
print(float(x)*hw[y],"원")

입력: 50 유로
63400.0 원

In [29]:
#124
a1 = input("number1: ")
a2 = input("number2: ")
a3 = input("number3: ")

x1=int(a1)
x2=int(a2)
x3=int(a3)

if x1 >= x2 and x1 >= x3:
    print(x1)
elif x2 >= x1 and x2 >= x3:
    print(x2)
else:
    print(x3)

number1: 10
number2: 9
number3: 20
20

In [35]:
#125   아 딱봐도 리스트 나눠야할거같아
phone = input("휴대전화 번호 입력: ")
num = phone.split("-")[0]

if num =="011":
    tel = "SKT"
    
elif num =="016":
    tel = "KT"
    
elif num =="019":
    tel = "LGU"
    
else:
    tel = "몰?루"

print(f"당신은 {tel} 사용자입니다.")

휴대전화 번호 입력: 016-662-6355
당신은 KT 사용자입니다.

In [38]:
#126
a = input("우편번호: ")
post = a[:3]

if post in ["010","011","012"]:
    gu = "강북구"
elif post in ["013","014","015"]:
    gu = "도봉구"
else:
    gu = "노원구"

print(gu)

우편번호: 01400
도봉구

In [39]:
#127
a = input("주민등록번호 :")
x = a.split("-")[1]
if x[0] == "1" or x[0] =="3":
    print("남자")
else:
    print("여자")

주민등록번호 :821010-1635210
남자

In [40]:
#128
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]

if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 821010-1635210
서울이 아닙니다.

In [41]:
#129
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [42]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [2]:
#131
# 사과 \n 귤 \n 수박

#132
#   ##### \n ##### \n #####

#133
# 그냥 따로따로 프린트 하면 끝

#134
#얘도 따로따로 그냥 프린트 해

#135
# 변수마다 따로 lower하고 프린트(변수) 하면 된다 !

#136 / #137
for a in [10, 20, 30]:
  print(a)

10
20
30

In [3]:
#138
for a in [10, 20, 30]:
  print(a)
  print("-------")

10
-------
20
-------
30
-------

In [4]:
#139
print("++++")
for a in [10,20,30]:
    print(a)

++++
10
20
30

In [8]:
#140
for a in range(4):
    print("--------")

--------
--------
--------
--------

In [9]:
#141
bgs = 10
for i in [100,200,300]:
    print(i+bgs)

110
210
310

In [10]:
#142
for i in ["김밥","라면","튀김"]:
    print("오늘의 메뉴: ",i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [16]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [17]:
#144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [18]:
#145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [20]:
#146
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [21]:
#149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [22]:
#150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [23]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i<0:
        print(i)

-20
-3

In [24]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [25]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i <20 and i%3==0:
        print(i)

12
18

In [26]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [27]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper(): #TRUE
        print(i)

A
D

In [30]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == False:
        print(i)

b
c

In [33]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [35]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    temp = i.split(".")
    print(temp[0])

hello
ex01
intro

In [36]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    temp=i.split(".")
    if temp[1]=="h":
        print(i)

intra.h
define.h

In [37]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    temp=i.split(".")
    if temp[1]=="h" or temp[1]=="c":
        print(i)

intra.h
intra.c
define.h

In [38]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [39]:
#162
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [40]:
#163
for i in range(1,31):
    if i % 3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [42]:
#164
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [43]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [44]:
#166
for i in range(1,10):
    print(3,"x",i,"=",i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [45]:
#167
for i in range(1,10):
    if i % 2 ==1:
        print(3,"x",i,"=",i*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [50]:
#168
sum=0
for i in range(1,11):
    sum += i
print("합 : ",sum)

합 :  55

In [53]:
#169
sum=0 
for i in range(1,11):
    if i %2 ==1 :
        sum += i
print("합 : ",sum)

합 :  26

In [55]:
#170
sum=1 ## 곱하기라 1
for i in range(1,11):
    sum *= i
print("합 : ",sum)

합 :  3628800